<header>
    <app-header />
</header>

<main class="container      ">
    <section class="subTitle">
        <app-sub-section subTitle="my art" typeText="litle" typeTextBars="litle"/>
    </section>

    <article class="article-content flex-center">
        <div class="gallery-content">
           <app-gallery-lightbox
            [galleryData]="data"
            [showCount]="true"
           >
           </app-gallery-lightbox>
            
        </div>
    </article>
</main>
<app-back-arrow /> 


