<header>
    <app-header />
</header>

<main class="container      ">
    <section class="subTitle">
        <app-sub-section subTitle="my art" typeText="litle" typeTextBars="litle"/>
    </section>

    <article class="article-content flex-center">
        <div class="gallery-content">
            <app-card-img /> 
            <app-card-img /> 
            <app-card-img /> 
            <app-card-img /> 
            <app-card-img /> 
            <app-card-img /> 
            <app-card-img /> 
            <app-card-img /> 
            <app-card-img />    
        </div>
    </article>
</main>
<app-back-arrow /> 


