.card-sm { 
    text-align: center;
    margin: 10px;
}



.card-sm-data { 
    width: 450px;
    height: 60px;

    background-color: #fdfdfd;
    border: 1px solid #f88730;

    border-radius: 20px;


    display: flex;
    justify-content: space-between;
    align-items: center;
/* 
    -webkit-box-shadow: 15px 15px 0px 0px rgba(248,135,48,1);
    -moz-box-shadow: 15px 15px 0px 0px rgba(248,135,48,1);
    box-shadow: 15px 15px 0px 0px rgba(248,135,48,1); */

	animation: shadow-color 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

}


.btn-text { 
    color: #6B7C8E;
    font-family: concert One;
    font-size: 32px;
    font-weight: 600;

    text-transform: uppercase;

}

i { 
    margin-left: 30px;
    color: #f88730;
    font-size: 40px;
}

.textCard { 
    width: 100%;

}

/* ANIMATION */

@keyframes shadow-color {
    0% {
      box-shadow: 0 0 #f88730, 0 0 #f88730, 0 0 #f88730, 0 0 #f88730, 0 0 #f88730, 0 0 #f88730, 0 0 #f88730, 0 0 #f88730;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 3px 3px #f88730, 4px 4px #f88730, 5px 5px #f88730, 6px 6px #f88730, 7px 7px #f88730, 8px 8px #f88730, 9px 9px #f88730, 10px 10px #f88730;
      transform: translateX(-8px) translateY(-8px);
    }
}

  
:hover .card-sm-data   { 
    border: 2px solid #000;
    animation: shadow-hover 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}

@keyframes shadow-hover {
    0% {
      box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000, 9px 9px #000, 10px 10px #000;
      transform: translateX(-8px) translateY(-8px);
    }
  }

  :hover i { 
    color: #000000;
}



/* RESPONSIVE SECTION */


@media screen and (max-width: 1024px) {
  
  .card-sm-data { 
    width: 450px;
    height: 60px;
  }

  .btn-text {
    font-size: 28px;
  }

        
}
    
@media screen and (max-width: 800px) {
  .card-sm-data { 
    width: 350px;
    height: 50px;
  }

  .btn-text {
    font-size: 20px;
  }
}
    
@media screen and (max-width: 600px) {
  .card-sm-data { 
    width: 300px;
    height: 45px;
  }

  .btn-text {
    font-size: 20px;
  }
}
        

