
.subTitle { 
    padding-top: 10px;
}


.article-content { 
    display: flex ;
    justify-content: center;
    align-items: center;

}


.article-content-data { 
    display: flex ;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    height: 60vh;
}

.article-btns { 
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

 iframe { 
    height: 300px;
    border: none;
 }

 @media screen and (max-width: 1024px) {
    iframe {
        display: none;
    }

    .article-content-data { 
        display: flex ;
        justify-content: center;
        align-items: center;
    }

 }
 
 @media screen and (max-width: 800px) {
    iframe {
        display: none;
    }

    .article-btns {
        flex-direction: column;
    }
 }
 
 @media screen and (max-width: 650px) {
    iframe {
        display: none;
    }

    .article-btns {
        flex-direction: column;
    }
     
 }
 