<header>
    <app-header />
</header>

<main class="container">
    <section class="subTitle">
        <app-sub-section subTitle="wellcome to my website" typeText="larger" typeTextBars="larger"/>
    </section>

    <article class="article-content">
        <div class="article-content-data">
            <img src="https://s3-alpha-sig.figma.com/img/73c1/36b3/0dfcc0883bb62f88d41fb57a1676ba6d?Expires=1691366400&Signature=i3y0QdYhuZJlQW9vZXHZUPI5tKFAj7IZKFlp2JlhdiLQtClom~IUWFz8zO3D25FGkXlW8h1NUckTcZTfNvAWbifDp7Np1WLSJ290dRHZhVDrQohaChoEcjY0J0b3LUNprfNHjggobuEvrXga-8E9fqUeO6B62MZJitps57Q0e~LOnm6cEK8LQ76rlCv4xVpic~-lEAl~2bdhiH6loo2ZgQAoxrWwtMTDGFtdmhTkM6dS0dEQFYa8Joj6X11L8pNgBnLgSYDb9N0gTuNzoblbRLmDRosXI9LJ1qBhPpU4ks57TTuga97VOOpODYQNCMgxVpGnmZ-mFntefXUkjt7TQQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt="">

            <div class="article-btns">
                <app-card-btn text = "my art"  Rlink="/gallery" />
                <app-card-btn text = "social media" Rlink="/social-media" typeBtn="color-two"/>
            </div>
        </div>
    </article>
</main>

<footer>
    <app-footer />
</footer>

