<header>
    <app-header />
</header>

<main class="container">
    <section class="subTitle">
        <app-sub-section subTitle="My social media" typeText="litle" />
    </section>

    <article class="article-content slide-in-elliptic-top-fwd">
        <app-card-sm text="blueSky" icon="fa fa-cloud"  Elink="https://bsky.app/profile/thekbear.com"/>
        <app-card-sm text="Karous's bear cave" icon="fa-brands fa-telegram" Elink="https://t.me/KarousPornChannel" />
        <app-card-sm text="furaffinity" icon="fa fa-paw" Elink="https://www.furaffinity.net/user/thekinkybear/" />
        <app-card-sm text="tkb comics" icon="fa-brands fa-telegram" Elink="https://t.me/TheKBearComics"/>
    </article>

    <aside class="aside-content flex-center">
        <div class="footer-icon">
            <app-footer-icon icon="fa-brands fa-twitter" Elink="https://twitter.com/ThekinkBear" class="out"/> 
            <app-footer-icon icon="fa-brands fa-patreon" Elink="https://www.patreon.com/thekbear" class="out" /> 
        </div>
    </aside>
</main>

<app-back-arrow />

<app-footer typeFooter="footer-two" />
