<header>
    <app-header />
</header>

<main class="container">
    <section class="subTitle">
        <app-sub-section subTitle="My social media" typeText="litle" />
    </section>

    <article class="article-content slide-in-elliptic-top-fwd">
        <app-card-sm text="blueSky" icon="fa fa-cloud" />
        <app-card-sm text="Karous's bear cave" icon="fa-brands fa-telegram" />
        <app-card-sm text="furaffinity" icon="fa fa-paw" />
        <app-card-sm text="tkb comics" icon="fa-brands fa-telegram" />
    </article>
</main>

<app-back-arrow />
<footer>
    <app-footer />
</footer>